/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap{
  max-width: 1049px;
  margin: 0 auto;
}
.header{
  margin: 0 auto;
  height: 420px;
  background-image: url('../img/RWD/header_desktop.png');
}
@media(max-width: 768px){
  .header{
    position: relative;
    width: 100%;
    background-size: 100% 100%;
  }
}

@media(max-width: 375px){
  .header{
    background-image: url('../img/RWD/header_mobile.png');
    position: relative;
    width: 100%;
    background-size: 100% 100%;
  }
}
.topmenu{
  background: rgba(0,0,0,0.75);
  font-family:"微軟正黑體";
}
.topmenu h1 a{
  text-decoration: none;
  background-image: url('../img/RWD/logo_w@svg.svg');
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 120px;
  height: 24px;
  float: left;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 42px;
  color: #FFFFFF;
}
.topmenu ul{
  float: right;
}
.topmenu li{
  float: left;
}
.topmenu ul{
  margin-right: 18px;
}
.topmenu ul li a{
  display: block;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 17px;
  margin-right: 30px;
  font-size: 16px;
  color: #FFFFFF;
}
.clearfix{
  clear: both;
}
.showmenu{
  display: none;
}
@media(max-width: 375px){
  .showmenu{
    display: block;
    float: right;
    text-decoration: none;
    color: white;
    margin-top: 16px;
    margin-right: 22px;
  }
  .topmenu ul{
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 48px;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.75);
    transition: 1.3s;
    margin-right: 0;
  }
  .menu-show .topmenu ul{
    max-height: 500px;
  }
  .topmenu li{
    float: none;
  }
  .topmenu ul li a{
    text-align: center;
    margin-right: 0;
  }
  .topmenu h1 a{
    margin: 0;
    margin-top: 17px;
    margin-left: 13px;
  }
}

.header-content{
  width: 460px;
  height: 152px;
  background: rgba(0,0,0,0.35);
  margin-top: 67px;
  margin-left: 295px;
  color: white;
  font-family: "微軟正黑體";
}
.header-content h2{
  padding-top: 20px;
  margin-left: 22px;
  font-size: 36px;
}
.header-content p{
  margin-top: 16px;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
.content2{
  display: none;
}
@media(max-width: 768px){
  .header-content{
    height: 194px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
  }
}
@media(max-width: 375px){
  .header-content{
    max-width: 90%;
    height: 194px;
    margin: 0 auto;
    position: absolute;
     top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
  }
  .header-content h2{
    margin-left: 0;
  }
  .content2{
    display: block;
    text-align: center;
  }
  .content1{
    display: none;
  }
}

.content_cart{
  background: #efe9e7;
  font-family: "微軟正黑體";
}
.content_list{
  padding-top: 52px;
  float: left;
  color: #3D1101;
}
.content_list h2{
  margin-left: 50px;
  font-size: 20px;
}
.content_list a{
  text-decoration: none;
  color: #3D1101;
}
.content_list a:hover{
  color: white;
}
.content_list li:hover{
  background: #3D1101;
}
.content_list ul{
  margin-top: 20px;
  margin-left: 50px;
}
.content_list ul li{
  border-bottom: 2px solid #3D1101;
  padding: 6px 6px;
  width: 220px;
}
@media(max-width: 768px){
  .content_list ul li{
    width: 94%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content_list h2{
    margin-left: 3%;
  }

}
@media(max-width: 375px){
  .content_list{
    float: none;
  }
  .content_list ul{
    margin-left: 0;
    margin: 20px 3%;
  }
  .content_list ul li{
    width: 94%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content_list h2{
    margin-left: 3%;
  }
  
}
.right{
  float: right;
  width: 68%;
  margin-right: 42px;
}
.top_bar{
  display: flex;
  margin-top: 48px;
  margin-left: 20px;
  height: 32px;
}
.shopping{
  width: 100%;
  display: block;
}
.shopping li{
  float: left;
}
.bill a{
  border-right: 1px solid #3D1101;;
  height: 14px;
  width: 50px;
  padding-right: 16px;
  margin-left: 80px;
  text-decoration: none;
  color: #3D1101;
}
.cart a i{
  padding-left: 16px;
}
.search_bar{
  width: 460px;
  position: relative;
}
.search{
  height: 32px;
  width: 460px;
  border: 2px solid #3D1101;
}
.search_btn{
  width: 36px;
  height: 32px;
  background: #3D1101;
  position: absolute;
  right: 0px;
  border: 0px solid;
  cursor: pointer;
}
.search_btn:hover{
  background: gray;
}
.search_bar i{
  color: white;
}
@media(max-width: 768px){
  .right{
    width: 70%;
    margin-right: 0;
  }
  .shopping{
    width: 80%;
  }
  .bill{
    width: 30%;
  }
  .bill a{
    margin-left: 0;
  }
  .shopping{
    margin-left: 4%;
  }
  .search_bar{
    width: 100%;
  }
  .search{
    width: 100%;
  }

}
@media(max-width: 375px){
  .right{
    width: 100%;
    margin-right: 0;
    float: none;
  }
  .top_bar{
    display: block;
    margin-left: 0;
    margin-top: 0;
  }
  .shopping{
    margin-left: 0;
    float: right;
    width: 30%;
    margin-top: 3%;
  }
  .bill a{
    width: 50px;
  }
  .cart{
    width: 20%;
  }
  .search_bar{
    width: 90%;
    margin-right: 0;
    margin: 0 auto;
  }
  .search{
    width: 100%;
  }

}
.shopping a i{
  color: #3D1101;
}
.product{
  margin-top: 26px;
}
.product1{
  width: 220px;
  height: 280px;
  background: #EFE9E7;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
  border: 1px solid #EFE9E7;
  margin-left: 15px;
  margin-bottom: 30px;
  color: #3D1101;
  font-family: "微軟正黑體";
  position: relative;
}
.product1>i{
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
}
.product1 img{
  width: 220px;
  height: 120px;
}
.product1 h3{
  text-align: center;
  font-size: 20px;
  margin-top: 11px;
    color: #3D1101;
  font-weight: bold;
}
.product1 h4{
  font-family: Roboto-Light;
  font-size: 20px;
  color: #3D1101;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.product1 span{
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;

}
@media(max-width: 768px){
  .product li{
    width: 50%;
  }
}
@media(max-width: 375px){
  .product li{
    float: none;
  }
  .product li{
    width: 100%;
    margin-top: 5%;
  }
  .product1{
    margin-left: 0;
    margin: 0 auto;
    width: 75%;
  }
  .product1 img{
    width: 100%;
  }
}
.border{
  height: 1.5px;
  width: 91px;
  background: black;
  margin: 0 auto;
  margin-top: 8px;
}
.product li{
  float: left;
}
.shoppingCart{
  width: 200px;
  height: 28px;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  color: #FF5E45;
  margin: 0 auto;
  margin-top: 13px;
  cursor: pointer;
}
.shoppingCart:hover{
  background: #FF5E45;
}
.shoppingCart span:hover, .shoppingCart i:hover{
  color: white;
}
.shoppingCart span{
  font-size: 16px;
  line-height: 28px;
}
.footer{
  display: flex;
  font-family: "微軟正黑體";
  background: #efe9e7;
  color: #3D1101;
  line-height: 24px;
}
.footer h2{
  margin-top: 50px;
  font-size: 24px;
}
.about{
  width: 299px;
  margin-left: 43px;
}
.about p{
  margin-top: 16px;
  padding-bottom: 50px;
}
.contact{
  margin-left: 21px;
}
.contact ul{
  margin-top: 16px;
  list-style: disc;
  margin-left: 20px;
}
.logo{
  margin-top: 50px;
  margin-left: 150px;
}
.logo img{
  display: block;
}
.logo a{
  margin-left: 11px;
  text-decoration: none;
  float: right;
  margin-top: 22px;
}
.fb{
  color: #4460a0;
}
.twitter{
  color: #00aaec;
}
.google{
  color: #DB4437;
}
@media(max-width: 768px){
  .about{
    width: 33%;
    margin-left: 0;
    margin: 0 3%;
  }
  .about p{
    margin-top: 0;
    padding-bottom: 0;
  }
  .contact{
    width: 33%;
    margin-left: 0;
    margin: 0 3%;
  }
  .contact ul{
    margin-top: 0;
    margin-left: 0;
  }
  .logo{
    width: 33%;
    margin-left: 0;
    padding-right: 10px;
    padding-bottom: 50px;
  }
}
@media(max-width: 375px){
  .footer{
    display: block;
  }
  .footer h2{
    margin-top: 0;
    padding-top: 50px;
  }
  .about{
    margin-left: 0;
    margin: 0 3%;
    width: 94%;
  }
  .about p{
    margin-top: 0;
    padding-bottom: 0;
  }
  .contact{
    margin-left: 0;
    margin: 0 3%;
    width: 94%;
  }
  .contact ul{
    margin-top: 0;
  }
  .logo{
    width: 63%;
    float: right;
  }
}